<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Management</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <h1>Product Management</h1>
    <div class="form-container">
      <h2><a href="/products/add">Add Product</a></h2>
    </div>
    <div class="product-list-container">
      <h2>Products</h2>
      <ul id="productList"></ul>
      <div class="pagination">
        <button id="prevPage">Previous</button>
        <span id="currentPage">1</span>
        <button id="nextPage">Next</button>
      </div>
    </div>
    <script>
      const productList = document.getElementById("productList");
      const addProductForm = document.getElementById("addProductForm");
      const prevPageButton = document.getElementById("prevPage");
      const nextPageButton = document.getElementById("nextPage");
      const currentPageSpan = document.getElementById("currentPage");

      let currentPage = 1; // Default page is 1
      const itemsPerPage = 10; // Default page size is 10

      // Fetch and display products with pagination
      const fetchProducts = async (page, itemsPerPage) => {
        const response = await fetch(
          `/products?page=${page}&per_page=${itemsPerPage}`
        );
        const { products, totalPages } = await response.json();
        productList.innerHTML = "";
        products.forEach((product) => {
          const li = document.createElement("li");
          li.textContent = `${product.name} - ${product.category} - $${product.price}`;
          productList.appendChild(li);
        });
        currentPageSpan.textContent = page;
        prevPageButton.disabled = page === 1;
        nextPageButton.disabled = page === totalPages;
      };

      // Add product
      addProductForm.addEventListener("submit", async (e) => {
        e.preventDefault();
        const name = document.getElementById("name").value;
        const desc = document.getElementById("desc").value;
        const price = document.getElementById("price").value;
        const category = document.getElementById("category").value;
        const images = document.getElementById("images").value;
        const stock_quantity = document.getElementById("stock_quantity").value;

        await fetch("/products", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            name,
            desc,
            price,
            category,
            images,
            stock_quantity,
          }),
        });
      });

      fetchProducts(currentPage, itemsPerPage);

      // Pagination controls
      prevPageButton.addEventListener("click", () => {
        if (currentPage > 1) {
          currentPage--;
          fetchProducts(currentPage);
        }
      });

      nextPageButton.addEventListener("click", () => {
        currentPage++;
        fetchProducts(currentPage);
      });
    </script>
  </body>
</html>
